{% load static %}
<html>

<head>
<meta http-equiv="Content-Language" content="es-pe">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Cambiar Contraseña</title>
<link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>

<div   class="little">
	<form method="POST" action="">
		{%csrf_token%}
		<div >
			<h1>Cambiar Contraseña</h1>
			{%for message in messages %}
				<h3>{{message}}</h3>
			{% endfor %}
			<table border="0" width="100%">
				<tr>
					<td>Contraseña Anterior</td>
					<td><input type="password" name="opassword" size="20" required></td>
				</tr>
				<tr>
					<td>Contraseña Actual</td>
					<td><input type="password" name="npassword" size="20" required></td>
				</tr>
				<tr>
					<td>Repita Contraseña Actual</td>
					<td><input type="password" name="npassword2" size="20" required></td>
				</tr>
			</table>
			<br>
			<a href="/">regresar al indice</a><br><br>
			<table class="simplealign">
				<tr>
					<td><input type="submit" value="Aceptar" name="B1" class="buttonsingletypical" ></td>
					<td><input type="reset" value="Resetear" name="B2" class="buttonsingletypical" ></td>
				</tr>
			</table>
		</div>
	</form>
	<p>&nbsp;</div>

</body>

</html>
