{% extends 'home/heredame_staff.html' %}
{%block content %}

{% load static %}
<html>

<head>
<meta http-equiv="Content-Language" content="es-pe">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Lista de Usuarios</title>

<link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>

<div  class="listing">

<form method="POST" action=""  onsubmit="return delete_selected_checkboxes();">{%csrf_token%}
	<h1>Lista de Usuarios</h1>
	<div >
		<table border="1" width="100%" id="container_table">
			<tr>
				<th style="text-align:left">Usuario</th>
				<th style="text-align:left">Nombres</th>
				<th style="text-align:left">Apellidos</th>
                <th style="text-align:left">Email</th>
                <th style="text-align:left">¿Borrar?</th>
			</tr>
            {% for usuario in usuarios %}
            {% if usuario.is_staff == False %}
			<tr>
				<td ><span>
					{{usuario.username}}</span></td>
				<td ><span>
					{{usuario.first_name}}</span></td>
                <td ><span>
                    {{usuario.last_name}}</span></td>
                <td ><span>
                    {{usuario.email}}</span></td>
				<td ><p align="center"><input type="checkbox"  name="CHECKED" value="{{usuario.id}}"></td>
            </tr>
            {% endif %}
			{% endfor %}
		</table>
		<br>
		<a href="/">regresar al indice</a><br>
		<br>
		<table class="simplealign">
			<tr>
				<td><input type="submit" value="Borrar" name="B1" class="buttonsingle" ></td>
				<td><input type="reset" value="Resetear" name="B2" class="buttonsingle" ></td>
			</tr>
		</table>
	</div>
</form>
<p>

</div>
<script>
	function delete_selected_checkboxes(){ 
		if (document.getElementById("container_table").rows.length==1){
			return alert("lista vacia");
		}
		else{
			return confirm('¿Esta seguro de borrar los elementos seleccionados?');
		}
		
		}
</script>
</body>

</html>
{% endblock %}