{% load static %}
<html>

<head>
<meta http-equiv="Content-Language" content="es-pe">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Ingrese Por Favor</title>
<link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>

<div   class="little">
	<form method="POST" action="">
		{%csrf_token%}
		<div >
			<h1>Login</h1>
			<table border="0" width="100%">
				<tr>
					<td>Usuario</td>
					<td><input type="text" name="username" size="20" required></td>
				</tr>
				<tr>
					<td>Contraseña</td>
					<td><input type="password" name="password" size="20"  required></td>
				</tr>
			</table>
			<br>
			<a href="/">regresar al indice</a><br><br>
			<table class="simplealign">
				<tr>
					<td><input type="submit" value="Ingresar" name="B1" class="buttonsingletypical" ></td>
					<td><input type="reset" value="Resetear" name="B2" class="buttonsingletypical" ></td>
				</tr>
			</table>
		</div>
	</form>
	<p>&nbsp;</div>

</body>

</html>
