{% extends 'proveedor/heredame_user.html' %}
{%block content %}
{% load static %}
<html>

<head>
<meta http-equiv="Content-Language" content="es-pe">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Añadir Proveedores</title>
<link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>

<div  class="boxamp">
		<form method="POST" action="">{%csrf_token%}
		<div >
			<h1>Añadir Proveedor</h1>
			{% csrf_token %}
			<table>{{form.as_table}}</table>
			<br>
			<a href="/">regresar al indice</a><br><br>
			<table class="simplealign">
				<tr>
					<td><input type="submit" value="Añadir" name="B1" class="buttonsingletypical" ></td>
					<td><input type="reset" value="Resetear" name="B2" class="buttonsingletypical" ></td>
				</tr>
			</table>
		</div>
		
	</form>
	
</div>

</body>

</html>
{% endblock %}